body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 19px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.button {
  display: inline-block;
  margin-right: 14px;
  padding: 13px 23px;
  border-radius: 3px;
  background-color: #000;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12);
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #489fd9;
}

.button.hollow {
  background-color: transparent;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), inset 0 0 0 2px #000;
  color: #000;
  text-shadow: none;
}

.button.hollow:hover {
  background-color: #489fd9;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), inset 0 0 0 2px #489fd9;
  color: #fff;
  text-shadow: none;
}

.button.in-pricing {
  display: block;
  margin-top: 19px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-text {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Roboto Slab', sans-serif;
  color: #1c1c1c;
  font-size: 27px;
  font-weight: 500;
}

.logo-text.footer {
  margin-top: 0px;
  margin-bottom: 19px;
  color: #e6eaed;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
}

.nav-link {
  padding: 31px 17px;
  box-shadow: inset 0 3px 0 0 transparent;
  -webkit-transition: box-shadow 500ms ease, color 300ms ease;
  transition: box-shadow 500ms ease, color 300ms ease;
}

.nav-link:hover {
  box-shadow: inset 0 3px 0 0 hsla(0, 0%, 71%, .5);
}

.nav-link.w--current {
  padding-top: 31px;
  padding-bottom: 31px;
  box-shadow: inset 0 3px 0 0 #4dbd90;
  color: #1d1866;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section.blue {
  background-color: #e3f3fc;
}

.section.main {
  height: 300px;
  margin-top: 83px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #fff;
  background-image: url('../images/Screenshot-from-2017-10-31-13-40-12.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
  box-shadow: 0 0 6px 0 #fff;
  color: #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .23);
}

.section.grey {
  background-color: #f0f0f0;
}

.section.image {
  background-image: url('../images/town.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
}

.section.footer {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #2b2c2e;
  color: #e4e8eb;
}

.section.footer.copyright {
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #1c1d1f;
  color: #939596;
  font-size: 14px;
}

.section.purple {
  background-color: #dde7ed;
}

.section.clients {
  margin-top: 83px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #a1bfd4;
}

.section.press {
  padding-top: 29px;
  padding-bottom: 38px;
  background-color: #3e5c50;
}

.slider {
  display: none;
  height: 360px;
  background-color: #303030;
}

.slide {
  padding-top: 64px;
  padding-bottom: 64px;
}

.slide._1 {
  background-color: #00ad6e;
}

.slide._2 {
  background-color: #00bdd6;
}

.slide._3 {
  background-color: #ccbe00;
}

.main-subtitle {
  margin-bottom: 26px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}

.footer-slogan {
  margin-bottom: 11px;
  color: #939596;
}

.social-icon {
  margin-right: 11px;
  opacity: 0.41;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-icon:hover {
  opacity: 1;
}

.footer-title {
  margin-top: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.page-link {
  border-bottom: 1px solid transparent;
  -webkit-transition: color 300ms ease, border 300ms ease;
  transition: color 300ms ease, border 300ms ease;
  color: #489fd9;
  text-decoration: none;
}

.page-link:hover {
  border-bottom-color: #489fd9;
}

.page-link.in-footer {
  display: block;
  color: #939596;
}

.page-link.in-footer:hover {
  border-bottom-color: transparent;
  color: #d2d7d9;
}

.page-link.white {
  border-bottom-color: hsla(0, 0%, 100%, .49);
  color: #fff;
}

.page-link.white:hover {
  border-bottom-color: #fff;
}

.newsletter-field {
  width: 60%;
  height: 40px;
  float: left;
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #e8e8e8;
}

.newsletter-field:focus {
  border-width: 1px;
  border-color: #09f;
  box-shadow: 0 0 6px 0 #489fd9;
}

.newsletter-button {
  width: 40%;
  height: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  float: left;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #5f6166;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #d5d8db;
}

.newsletter-button:hover {
  background-color: #489fd9;
  color: #fff;
}

.newsletter-form {
  width: 70%;
}

.brand-link {
  text-decoration: none;
}

.success-message {
  background-color: #5f6166;
}

.main-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 38px;
  line-height: 44px;
}

.section-subtitle {
  margin-bottom: 68px;
  font-size: 19px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}

.bold-text {
  font-weight: 400;
}

.plan-wrapper {
  min-height: 300px;
  padding: 17px;
  border-radius: 3px;
  background-color: #fff;
  color: #2b2b2b;
}

.price-point {
  margin-bottom: 8px;
  font-size: 14px;
}

.price-accent {
  color: #489fd9;
  font-size: 20px;
  letter-spacing: 0px;
}

.addl-feature {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
}

.addl-feature.inactive {
  color: #c7c5c5;
  text-decoration: line-through;
}

.divider {
  width: 50%;
  height: 1px;
  margin-top: 13px;
  margin-bottom: 12px;
  background-color: #dbdbdb;
}

.additional-contact {
  margin-top: 21px;
  text-align: center;
}

.feature {
  text-align: left;
}

.feature.centered {
  text-align: center;
}

.feature-row {
  margin-bottom: 14px;
}

.testimonial-slider {
  height: auto;
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #1a0081;
  background-color: transparent;
}

.testimony-slide {
  padding-top: 0px;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.testimony-text {
  margin-bottom: 21px;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  line-height: 31px;
  font-weight: 300;
}

.slide-nav {
  display: none;
  font-size: 10px;
}

.person {
  width: 70px;
  margin-bottom: 13px;
  border-radius: 100%;
}

.name {
  font-weight: 500;
}

.slider-arrow {
  width: 50px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #bdbdbd;
  font-size: 32px;
}

.slider-arrow:hover {
  color: #000;
}

.feature-icon {
  margin-bottom: 12px;
}

.main-feature-group {
  margin-top: 30px;
}

.center-contents {
  text-align: center;
}

.small-features-row {
  margin-top: 71px;
}

.client-logo {
  width: 16.6%;
}

.press-logo {
  width: 16%;
  margin-right: 2%;
  margin-left: 2%;
  opacity: 0.94;
}

.small-text {
  color: hsla(0, 0%, 100%, .31);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading {
  color: #000;
  text-align: center;
}

.image-2 {
  text-align: left;
}

.column {
  text-align: right;
}

.image-3 {
  text-align: right;
}

.section-2 {
  text-align: right;
}

.div-block {
  text-align: right;
}

.image-4 {
  padding: 10px;
}

.heading-2 {
  font-size: 19px;
  line-height: 44px;
}

.heading-3 {
  margin-bottom: 0px;
  direction: ltr;
  font-size: 35px;
  line-height: 44px;
}

.div-block-2 {
  text-align: left;
}

.heading-4 {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading-5 {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading-6 {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.paragraph {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
}

.container {
  text-align: center;
}

.heading-7 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 100px;
  text-align: center;
}

.container-2 {
  margin-top: 50px;
  margin-bottom: 150px;
  text-align: center;
}

.heading-8 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-3 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.container-4 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.heading-9 {
  color: #fff;
  text-align: center;
  text-shadow: 1px 2px 5px #000;
}

.video {
  margin-top: 20px;
  margin-bottom: 0px;
}

.paragraph-2 {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
}

.container-5 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-6 {
  margin-bottom: 20px;
}

.div-block-3 {
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}

.heading-10 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Roboto, sans-serif;
  font-size: 72px;
  text-align: center;
}

.row-2 {
  display: block;
}

.column-2 {
  text-align: center;
}

.section-3 {
  width: auto;
  height: 600px;
  background-image: url('../images/1.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-4 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.photo {
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading-11 {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.image-7 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.div-block-5 {
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 0px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  text-align: center;
}

.column-3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading-12 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.column-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.paragraph-3 {
  text-align: center;
}

.heading-13 {
  text-align: center;
}

.section-4 {
  height: 500px;
  background-image: url('../images/Screenshot-from-2017-10-31-12-55-59.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-transform: translate(0px, 0px) translate(0px, 0px);
  -ms-transform: translate(0px, 0px) translate(0px, 0px);
  transform: translate(0px, 0px) translate(0px, 0px);
  text-align: center;
}

.heading-14 {
  color: #fff;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  text-shadow: 1px 2px 5px #000;
}

.heading-15 {
  text-shadow: 1px 1px 5px #000;
}

.heading-16 {
  color: #fff;
  font-size: 32px;
  text-align: center;
  text-shadow: 1px 1px 5px #000;
}

.container-6 {
  position: fixed;
  display: block;
  padding-top: 95px;
  padding-bottom: 0px;
  text-align: center;
}

.section-5 {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 76%, .5), hsla(0, 0%, 76%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 76%, .5), hsla(0, 0%, 76%, .5));
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .5);
}

.heading-17 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.section-6 {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .5);
}

.heading-18 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.paragraph-4 {
  margin-bottom: 20px;
}

.map {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .5);
}

.heading-19 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading-20 {
  color: #fff;
  font-size: 55px;
  line-height: 65px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .23), 1px 1px 5px #000;
}

.slider-2 {
  display: block;
}

.column-5 {
  text-align: center;
}

.column-6 {
  text-align: center;
}

.column-7 {
  text-align: center;
}

.slide-2 {
  display: inline-block;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.slider-3 {
  height: 200px;
}

.row-3 {
  position: static;
  top: -17px;
  padding-top: 31px;
  text-align: center;
}

.image-8 {
  position: relative;
}

.slide-3 {
  height: 300px;
  margin-top: 40px;
}

.slider-4 {
  height: 300px;
}

.slider-5 {
  height: 100px;
}

.slider-6 {
  height: 150px;
}

.div-block-6 {
  height: 150px;
}

.column-8 {
  height: 150px;
}

.column-9 {
  height: 150px;
  text-align: center;
}

.column-10 {
  height: 150px;
  padding-top: 0px;
  text-align: center;
}

.column-11 {
  height: 150px;
}

.image-9 {
  position: relative;
  top: 0px;
  display: block;
  margin: auto;
  padding-top: 0px;
  float: none;
  text-align: center;
}

.row-4 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.image-10 {
  padding-top: 36px;
}

.image-11 {
  padding-top: 7px;
}

.image-12 {
  padding-top: 26px;
}

.image-13 {
  padding-top: 20px;
}

.image-14 {
  padding-top: 39px;
}

.image-15 {
  padding-top: 10px;
}

.image-16 {
  padding-top: 11px;
}

.image-17 {
  padding-top: 25px;
}

.image-18 {
  padding-top: 44px;
}

.image-19 {
  padding-top: 17px;
}

.image-20 {
  padding-top: 0px;
}

.image-21 {
  padding-top: 0px;
  text-align: center;
}

.image-22 {
  padding-top: 43px;
}

.slide-6 {
  height: 150px;
}

.carousel {
  width: 25%;
  height: 150px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  text-align: center;
}

.mask {
  height: 150px;
}

.slider-7 {
  height: 150px;
  padding-right: 0%;
  padding-left: 0%;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.image-23 {
  width: 100%;
  padding-top: 40px;
}

.image-24 {
  height: 100%;
}

.image-25 {
  height: 100%;
}

.image-26 {
  padding-top: 33px;
}

.image-27 {
  height: 100%;
}

.image-28 {
  width: 100%;
  padding-top: 12px;
}

.image-29 {
  height: 100%;
}

.image-30 {
  height: 100%;
}

.image-31 {
  position: static;
  width: 100%;
  padding-top: 46px;
}

.image-32 {
  height: 100%;
}

.container-8 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.image-33 {
  padding-top: 20px;
}

.image-34 {
  padding-top: 10px;
}

.image-35 {
  padding-top: 33px;
}

.image-36 {
  padding-top: 29px;
}

.image-37 {
  padding-top: 45px;
}

.heading-21 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.text-block {
  text-align: center;
}

.heading-22 {
  text-align: center;
}

.container-9 {
  margin-top: 20px;
  text-align: center;
}

.button-2 {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  height: 100%;
  padding-top: 83px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  text-align: center;
}

.google-form {
  display: block;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.close-link {
  display: block;
  color: #fdfdfd;
}

.container-10 {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
}

.container-11 {
  margin-top: 20px;
}

.heading-23 {
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.slider-8 {
  height: 600px;
}

.section-7 {
  margin-bottom: 20px;
}

.slide-7 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .52), rgba(0, 0, 0, .52)), url('../images/20.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .52), rgba(0, 0, 0, .52)), url('../images/20.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.slide-8 {
  background-image: url('../images/25.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.button-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.button-4 {
  padding: 15px 25px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.heading-24 {
  margin-bottom: 5px;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}

.heading-24.shadow {
  text-shadow: 1px 1px 5px #000;
}

.heading-25 {
  color: #fff;
  text-shadow: 1px 2px 5px #000, 1px 1px 5px #000;
}

.heading-26 {
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
}

.section-9 {
  margin-bottom: 20px;
}

.container-12 {
  margin-top: 20px;
}

.heading-27 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.container-13 {
  margin-top: 20px;
}

.map-2 {
  margin-top: 20px;
}

.heading-28 {
  font-family: 'Open Sans', sans-serif;
}

.container-14 {
  margin-top: 20px;
}

.container-15 {
  display: block;
  padding-top: 95px;
  text-align: center;
}

.column-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-13 {
  padding-right: 0px;
  padding-left: 0px;
}

.image-38 {
  display: block;
  margin-top: 3px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  text-align: center;
}

.heading-29 {
  display: block;
  margin-bottom: 0px;
  padding: 20px 0px 20px 5px;
  font-family: Merriweather, serif;
  color: #2b2b88;
  font-weight: 700;
  text-align: left;
}

.text-block-2 {
  font-size: 20px;
  line-height: 24px;
}

html.w-mod-js *[data-ix="fade-in-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

html.w-mod-js *[data-ix="book-a-stand"] {
  display: none;
  opacity: 0;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

html.w-mod-js *[data-ix="new-interaction"] {
  display: block;
}

@media (max-width: 991px) {
  .button.in-pricing {
    font-size: 14px;
    line-height: 18px;
  }
  .nav-link {
    padding: 18px 0px;
    color: #fff;
  }
  .nav-link:hover {
    box-shadow: inset 0 3px 0 0 transparent;
  }
  .nav-link.w--current {
    box-shadow: inset 0 1px 0 0 transparent;
  }
  .nav-link.menu {
    padding: 22px 17px;
    color: #000;
    font-size: 30px;
  }
  .nav-link.menu.w--open {
    background-color: #000;
    color: #fff;
  }
  .nav-menu {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #000;
  }
  .main-feature-group {
    margin-top: 0px;
  }
  .main-image {
    margin-top: 49px;
  }
}

@media (max-width: 767px) {
  h3 {
    margin-bottom: 8px;
  }
  .logo-text {
    margin-top: 15px;
  }
  .nav-link.menu {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .section {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }
  .section.main {
    margin-top: 51px;
  }
  .nav-menu {
    padding-right: 12px;
    padding-left: 12px;
  }
  .footer-title {
    margin-top: 35px;
  }
  .newsletter-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .section-subtitle {
    margin-bottom: 44px;
  }
  .plan-wrapper {
    margin-right: 5%;
    margin-bottom: 34px;
    margin-left: 5%;
  }
  .divider {
    width: 100%;
  }
  .feature {
    margin-bottom: 32px;
    text-align: center;
  }
  .feature-icon {
    margin-bottom: 4px;
  }
  .main-feature-group {
    margin-top: 0px;
    margin-bottom: 34px;
  }
}

@media (max-width: 479px) {
  .client-logo {
    width: 33.33%;
  }
  .press-logo {
    width: 28%;
  }
}

